{deps, [
    { erlydtl, ".*", {git, "https://github.com/erlydtl/erlydtl.git",{branch, "master"}} }
	%, { lhttpc, ".*",   {git, "https://github.com/coolfeature/lhttpc.git",  {branch,    "master"}} }
    , { gen_smtp, ".*", {git, "https://github.com/Vagabond/gen_smtp.git",{branch, "master"}} }
]}.
