[
    { sling, [
        { server_domain, <<"ENV">> }
        ,{ templates_dir, <<"priv/templates">> }
        ,{ dkim_txt_dns_selector, <<"ENV">> }
		,{ dkim_private_key, <<"ENV">> }
		,{ dkim_public_key, <<"ENV">> }
		,{ email_no_reply_user,[
			{ username, <<"noreply">> }
			,{ name, <<"Drooky">> }
		]}
        %% Adapters are tried one after another until the email is delivered
        %% successfully.
        ,{ adapters, [
			%% Generic adapter requires a valid server and DNS record 
			%% configuration including PTR, SPF and DKIM setup.
            { generic, [
                { protocol, <<"smtp">> }
                ,{ dns , [
                    %% PTR config
                    { ptr, <<"">> }
                    %% lookup SPF and ensure record exists for the
                    ,{ spf, <<"">> }
                    ,{ dkim, [
                        { selector, <<"asdf">> }
                        ,{ private_key, <<"">> }
                        ,{  }
                    ] }
                    ,{ dmarc, <<"">>}
                ] }
            ]}
            ,{ exchange, [
                { protocol, <<"smtp">> }
            ]}
            ,{ mailgun, [
                { protocol, <<"smtp">> }
            ]}
        ]}
    ]}
].
